# Labels
label_title: 'Invoice %invoice_number% for %invoice_date%'
label_supplier: 'Supplier'
label_buyer: 'Buyer'
label_th_number: '#'
label_th_name: 'Service'
label_th_amount: 'Amount'
label_th_units: 'Units'
label_th_price: 'Price'
label_th_sum: 'Sum'
label_tf_total: 'Total'
label_total_to_pay: 'Total to pay'
label_supplier_account_data: 'Supplier bank account'
label_supplier_account_number: 'Account number'
label_supplier_bank: 'Beneficiary bank'
label_supplier_bank_address: 'Bank address'
label_swift: 'SWIFT'
label_supplier_corr_bank: 'Correspondent Bank'
label_signature: 'Подпис'

# Generic data

# Supplier data
supplier_title: 'IP/LLC XXX'
supplier_short_title: 'IP/LLC XXX'
supplier_address: 'Russia, Mukhosransk city, Uzkaya st. 10'
#supplier_extra: ''
supplier_bank_account: '1234567890123456'
supplier_bank_name: 'BANK OF MOTHER RUSSIA'
supplier_bank_address: 'KREMLIN, RUSSIA'
supplier_bank_swift: 'COOLSWIFT'
supplier_bank_corr_bank_name: 'SOME CORRESPONDENT BANK'
supplier_bank_corr_bank_swift: 'SADSWIFT'

# Buyer data
buyer_title: '"Buyer" LLC'
buyer_address: 'Washington DC, USA'
buyer_extra: "VAT: US12312312312\n
IBAN: US1234567890123456"
