configuration:
    locales:
        source: ru
        target: en
    currency_code: 'USD'
    images:
        signature: 'images/sign.png'
        stamp: 'images/stamp.png'

contract:
    # Must be set in format parsable by DateTime
    date_from: '01.01.1970'

services:
    -
        name:
            source: 'Работа на работе по договору от %contract_date% за %period_end_date%'
            target: 'Working on the job for the contract from %contract_date% for %period_end_date%'
        amount: 9000
        units:
            source: 'часы'
            target: 'hours'
        price: 100

