<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Invoice</title>
    {#<meta name="description" content="">#}
</head>

<style>
{{ include ('invoice.css') }}
</style>

<body>

<table width="1400px" id="invoice">
    <tr>
        <td width="50%">
            {{ include ('invoice_side.html.twig', {
                services: services,
                images: images,
                context: 'source',
                locale: locales.source,
                currency: currency
            }, with_context = false) }}
        </td>
        <td width="50%">
            {{ include ('invoice_side.html.twig', {
                services: services,
                images: images,
                context: 'target',
                locale: locales.target,
                currency: currency
            }, with_context = false) }}
        </td>
    </tr>
</table>

</body>
</html>